* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: monospace;
}

label {
  display: inline-block;
  width: 100px;
  margin: 10px 0;
}

button {
  border: none;
  background-color: rgb(0, 255, 128);
  padding: 8px 20px;
  border-radius: 20px;
  margin-top: 20px;
}
